</style>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
<script>
$(function() {
var ary = [];
var finalAry = [];

$('#PlayersList').html( '' );
// $('#FinalPlayers').html( '' );

$.ajax({
  type: 'GET',
  url: '/json/getplayers',
  success: function(response){
     for (var i = 0; i < response.length; i++) {
      ary.push(response[i]);
      // console.log(ary[i]);
    }
      SetPlayersLists();
      SetFinalPayers();
  },

  error: function(){
    console.log("error34")
  }
})

function SetPlayersLists(){
console.log(ary)
for ( var i=0; i<ary.length; i++ ) {
  $("<div class='potentialplayer' >" + ary[i].name + '</div>').data( 'number', ary[i].id ).attr( 'id', 'player'+ ary[i].id ).appendTo( '#PlayersList' ).draggable( {
    containment: '#content',
    helper: 'clone',
    stack: '#PlayersList div',
    cursor: 'move',
    revert: true
  } );
} }

// Create the card slots
function SetFinalPayers(){
  for ( var i=1; i<=23; i++ ) {
    $('#FinalPlayers').append($('<p>' +i+'</p>'))
    $("<div class='playerbox'></div>").data( 'number', i ).attr( 'id', 'box'+ i ).appendTo( '#FinalPlayers' ).droppable({
      accept: '#PlayersList div',
      drop: handlePlayerDrop
    });
  }
  $("<button type='button' class='savebutton' name='save'>Guardar</button>").appendTo( '#FinalPlayers-left' );
}

  function handlePlayerDrop(event, ui) {
    ui.draggable.position( { of: $(this), my: 'center', at: 'center' } );
    ui.draggable.draggable( 'option', 'revert', false );
    finalAry.push(ui.draggable.data('number'));
    console.log(finalAry);
  }

$('body').on('click', '.savebutton' , function(e) {
  e.preventDefault();
  console.log('dentro');
  console.log(finalAry);
  var partido_id = (window.location.href.split('/'))[4];
  console.log(partido_id);
  $.ajax({
    type: 'POST',
    url: 'http://localhost:3000/partidos/'+ partido_id +'/players_lists',
    data: {idPlayers: finalAry},
    success: function(data){
      console.log("success")
    },

    error: function(error){
      console.log(error)
    }
  })
})
})

</script>
<body>

<div id="content">
  <div class="row">
    <div class="col-md-5" id="PlayersList"></div>
    <div class="col-md-4" id="FinalPlayers"></div>
  </div>
</div>

</body>
