<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
<script>
  var lineupAry = {};
$(function(){
  $( ".draggable" ).draggable({
    // containment: '#content',
    helper: 'clone',
    // stack: '#draggable div',
    cursor: 'move',
    revert: true
  });

  $('.box').droppable({
    accept: '.draggable',
    drop: handleDrop
  });

  function handleDrop(event, ui) {
    ui.draggable.position( { of: $(this), my: 'center', at: 'center' } );
    ui.draggable.draggable( 'option', 'revert', false );
    var position = $(this).attr('id');
    var player = ui.draggable.attr('id');
    lineupAry[position] = player
    console.log(lineupAry);

  }



  $('.lineupbutton').on('click', function(e) {
    e.preventDefault();
    console.log('dentro');
    console.log(lineupAry);
    var partido_id = (window.location.href.split('/'))[4];
    console.log(partido_id);
    var players_list_id = (window.location.href.split('/'))[6];
    console.log(players_list_id);
    $.ajax({
      type: 'POST',
      url: 'http://localhost:3000/partidos/'+ partido_id +'/players_lists'+players_list_id+'/lineups',
      data: {idPlayers: lineupAry},
      success: function(response){
        console.log("success")
                // window.location.href = response;
      },
  //
  //     error: function(error){
  //       console.log(error)
  //     }
    })
  })


});
</script>

<div class="row">
  <div class="container col-md-2" id='content'>
  <%@players.each do |player|%>
    <p class="draggable" id=<%=player.id%>>
      name: <%=player.name%>
    </p>
  <% end %>
  </div>
  <div class='container col-md-8'>
    <div class="row" id='props'>
      <div class="col-md-1"></div>
      <div class="col-md-2 box" id='pos1'></div>
      <div class="col-md-2"></div>
      <div class="col-md-2 box" id='pos2'></div>
      <div class="col-md-2"></div>
      <div class="col-md-2 box" id='pos3'></div>
      <div class="col-md-1"></div>
    </div>
    <div class="row" id='locks'>
      <div class="col-md-3"></div>
      <div class="col-md-2 box" id='pos4'></div>
      <div class="col-md-2"></div>
      <div class="col-md-2 box" id='pos5'></div>
      <div class="col-md-3"></div>
    </div>
    <div class="row" id='flankers'>
      <div class="col-md-1"></div>
      <div class="col-md-2 box" id='pos6'></div>
      <div class="col-md-2"></div>
      <div class="col-md-2 box" id='pos8'></div>
      <div class="col-md-2"></div>
      <div class="col-md-2 box" id='pos7'></div>
      <div class="col-md-1"></div>
    </div>
    <button type="button" class='lineupbutton' name="save">Guardar</button>
  </div>
</div>
