/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.box {
  width: 50px;
  height: 50px;
  color: black;
  border: 1px solid black;
  margin: 1%;

}

#FinalPlayers > p {
  margin: 0px;
}
.col-right{
  display: inline-block;
}

.col-left {
  display: inline-block;
}

.title {
  margin-top: 2%;
}

 .home-image {
   width: 40%;
  height: 50%;
  margin-left: 25%;
 }

  .index-image {
  width: 50px;
  }
  .container-center {

  }

  .form {
    margin-bottom: 1%;

  }

  .field-input {
    color: black;
  }

 .potentialplayer {
   width: 100px;
   height: 20px;
   background: #ffd;
 }


 .playerbox {

  width: 120px;
  height: 25px;
  vertical-align: middle;
  line-height: 58px;
  text-align: center;
  border: 2px solid #333;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  margin: 0 0 0 10px;
  background: #fff;
  my: 'center';
 }

 body {
  background-color: #9F1E1E !important;
 }

.profile-image {
  width: 90%;
}

.image-left {
  width: 48%;
  margin: 0px;
  display: inline-block;
  float:left;
}

.information-right {
  width: 48%;
  margin: 0px;
  display: inline-block;
}

.profile-title {
  margin-top: 0px;
}

.main-container {
  width: 90%;
  margin: 0 auto;
  border: 1px solid black;
  border-radius: 2%;
  padding: 14px;
}

.link-to-edit {
  width: 90%;
  margin: 0 auto;
  text-align: right;
}

nav {
  vertical-align: middle;
  height: 50px;
  background-color: #cdc4d6;
  line-height: 50px;
  box-shadow: 5px 1px 4px #7b7b7b;
}

nav > ul {
  display: inline;
  float: right;
  margin-right: 8px;
}

nav > ul > li {
  display: inline-block;
  margin-left: 7px;
}

.container-login {
  width: 400px;
  margin: 0 auto;
  padding: 10px;
  background-color: #521010;;
  border-radius: 4%;
  margin-top: 25px;
  color: white;
  -webkit-box-shadow: 7px 6px 50px 5px rgba(0,0,0,0.75);
  -moz-box-shadow: 7px 6px 50px 5px rgba(0,0,0,0.75);
  box-shadow: 7px 6px 50px 5px rgba(0,0,0,0.75);
}

.hompage-title {
  text-align: center;
  color: #1f1f1f;
  font-weight: 500;
}

.content-login {
  width: 200px;
  margin: 0 auto;
  margin-bottom: 23px;
}

#user_email {
  width: 200px;
  border-radius: 2px;
  border-style: none;
  height: 27px;
}

#user_password {
  width: 200px;
  border-radius: 2px;
  border-style: none;
  height: 27px;
}

.log-in-title {
  font-weight: 200;
}

.field {
  font-weight: 200;
  font-size: 14px;
  margin-top: 12px;
}

.submit-button {
  background-color: #522828;
  border: 1px solid #424242;
  padding: 9px 17px;
  border-radius: 2px;
  margin-left: 65px;
  margin-top: 15px;
  margin-bottom: 16px;
}

.links-bottom {
  margin-top: 10px;
  text-align: left;
}
